.d-flex{
  display: flex;
  
}
.w-20{
  width: 20%;
}
.w-50{
  width: 50%;
  background-color: rgb(250, 250, 250);
}
.w-30{
  width: 30%;
  background-color: rgba(248, 246, 246, 0.299);
}
.txts{
  width: 100px;
  height: 50px;
}
.bi{
  margin: 4px;
  padding: 5px;
}
.ol{
  margin: 0px;
  width:20%;
}
.options{
  padding: 7px;
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
  transition: ease-in-out;
  transition-duration: 200ms;
  font-size: large;
}
.options:hover{
 background-color: rgb(223, 222, 222);
}
.stories{
  background-color: rgb(242, 243, 244);
  display: flex;
  gap: 10px;
  height: 120px;
  padding: 4px;

}
.story{
  width: 100px;
  height: 100px;
  background: linear-gradient(45deg,hotpink,orangered,yellow);
  border-radius: 50%;
  padding: 2px;

}
.img{
  width: 98%;
  height: 98%;
  border-radius: 50%;
  margin: auto;
}
.postcard{
max-width: 600px;
display: flex;
margin: auto;
margin-top: 2px;
flex-direction: column;
padding: 5px;

}
.post{
  width: 100%;
  padding: 2px;
  min-height: 400px;
  margin: 10px;

}
.postimg{
  width: 100%;

}
.postprofile{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.f{
  height: 30px;
  text-align: center;
  width: 90px;
}
.profile{
  width: 150px;
  height: 150px;
}
.pi{
  width: 100px;
}